body {
   margin: 0;
   padding: 0px;
}
.sec-header{
   background: linear-gradient(to top, rgba(0,0,0,0.5)60%,rgba(255, 255, 255, 0.5)100%), url(./images/selected.jpg);
   height: 100vh;
   width: 100%;
   background-size: cover;
   display: flex;
   justify-content:center;
   text-align: center;
   
}
.header-content {
   padding: 20vh 15vw;
   color: white;
   font-family: 'Oswald', sans-serif;
}

.header-content h1{
   font-size: 60px;
   color: #ecf0f1;
}
.header-content p{
   font-weight: 100;
   font-family: 'Poppins', sans-serif;
}
.btn-donate{
   text-decoration: none;
   color: black;
   padding: 8px 15px;
   background-color: #ecf0f1;
   border-radius: 5px;
   text-transform: uppercase;
   display: inline-block;
   margin-top: 20px;
}

.sec-donate-today{
   background-color: #ecf0f1;
   height: 100vh;
   width: 100%;
   display: inline-block;
   justify-content:center;
   text-align: center;
   font-family: 'Poppins', sans-serif;
}

.sec-donate-today h1{
   display: inline-block;
   margin-top: 60px;
   font-size: 45px;
   font-weight: 700;
}
.sec-donate-today p{
   padding: 5px 200px;
}
.other-amount{
   font-size: 16px;
   text-align: center;
   border: none;
   width: 500px;
   padding: 8px;
   background: transparent;
}
.amount-boxes{
   width: 100%;
   display: flex;
   display: inline-block;
}
.amount{
   display: inline-block;
   background-color: #bdc3c7;
   border-radius: 10px;
   width: 136px;
   height: 123px;
   text-align: center;
   margin-bottom: 20px;
   padding: 10px;
   cursor: pointer;
   padding: 20px 5px;
}
.amount h1{
   font-weight: 600;
   font-size: 40px;
   color: #7f8c8d;
   text-align: center;
   margin: 40px auto;
}
.box-amount-500{
   border: 2px solid tomato;
   background-color: #ddc4af;
}
.box-amount-500 h1{
   color: tomato;
}
.btn-donate-now{
   text-decoration: none;
   color: white;
   padding: 15px 20px;
   background-color: tomato;
   border-radius: 5px;
   text-transform: uppercase;
   display: inline-block;
   margin-top: 20px;
}

.sec-donate-plan{
   background-color: #FFFFFF;
   height: 100vh;
   width: 100%;
   display: inline-block;
   justify-content:center;
   text-align: center;
   font-family: 'Poppins', sans-serif;
}
.sec-donate-plan-h1{
   display: inline-block;
   margin-top: 60px;
   font-size: 45px;
   font-weight: 700;
}
.sec-donate-plan-p{
   padding: 5px 200px;
}

.donation-boxes{
   display: inline-block;
}

.planbox{
   width: 360px;
   height: 352px;
   border-radius: 10px;
   display: inline-block;
   margin: 10px;
   cursor: pointer;
}
#plan1{
   background-color: rgba(79, 157, 166, 10%);
}
#plan2{
   background-color: rgba(255, 89, 89, 10%);
}
#plan3{
   background-color: #FFF4D6;
}
.logo{
   display: flex;
   background-position: left;
   margin-top: 60px;
   margin-left: 20px;
}
.planbox-txt{
   text-align: left;
   padding: 20px;
   margin-top: 20px;
}

.gallery-sec{
   background-color: #ecf0f1;
   display: inline-block;
   height: 100vh;
   font-family: 'Poppins', sans-serif;
   margin-top: -4px;
}

.gallery-img img{
   display: inline-flex;
   width: 274px;
   height: 178px;
   margin: 10px;
   box-shadow: 5px 10px 18px #4b4242;
}

.gallery-img{
   display: inline-block;
   vertical-align: middle;
   text-align: center;
}

.gallery-sec h2{
   margin-top: 40px;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 40px;
}

/* .sec-blog{
   background-color: #ffffff;
   height: 100vh;
   width: 100%;
   display: inline-flex;
   justify-content:center;
   font-family: 'Poppins', sans-serif;
}
.blog-width-50{
   width: 50%;
   display: flex;
}
.blog-image img{
   display: block;
   width: 456px;
   height: 477px;
   margin-top: auto;
   margin-bottom: auto ;
   border-radius: 5px;
}

.blog-text{
   display: inline-block;
   text-align: left;
   margin-top: 80px;
   padding-left: 40px;
   padding-right: 40px;
}
.blog-text h2{
   font-size: 40px;
   font-weight: 700;
}

.btn-contribute{
   text-decoration: none;
   color: white;
   padding: 15px 20px;
   background-color: tomato;
   border-radius: 5px;
   text-transform: uppercase;
   display: inline-block;
   margin-top: 20px;
}
.blog-image-2{
   margin-left: 120px;
} */
.sec-blog-new{
   background-color: #ffffff;
   height: 100vh;
   width: 100%;
   display: inline-flex;
   font-family: 'Poppins', sans-serif;
   background-color: #F8EFBA;
   margin-top: 80px;
}
.new-blog-text h2{
   text-transform: uppercase;
}
.blog-div{
   width: 50%;
   display: inline-flex;
}
.sec-blog-new img{
   background-size: cover;
   padding-right: 20px;
   width: 100%;
}
.new-blog-text{
   display: inline-block;
   margin: auto 20px;
}
.logos{
   display: inline-block;
}




.sec-get-updates{

   height: 100vh;
   width: 100%;
   display: inline-block;
   justify-content:center;
   text-align: center;
   font-family: 'Poppins', sans-serif;
}
.update-sec-text h2{
   font-size: 40px;
   font-weight: 700;
   margin-top: 80px;
}
.update-sec-text p{
   padding-left: 280px;
   padding-right: 280px;
}
.update-sec-form{
   display: inline-block;
   width: 809px;
   height: 200px;
   background-color: #FFF4D6;
   margin-top: 30px;
}
.subscribe input{
   display: inline-block;
   margin-top: 80px;
   margin-bottom: 80px;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   background-color: #D9D9D9;
}
#subscribe-btn{
   background-color: tomato;
   cursor: pointer;
}
.sec-footer{
   height: 177px;
   width: 100%;
   background-color: #0B0D17;
   display: inline-block;
   text-align: center;
}
.footer-text h1{
   color: tomato;
   font-family: 'Lobster', cursive;
   font-weight: 400;
   margin-top: 40px;
}
.footer-text p{
   color: white;
}